.logbook {
  color: #b1a76d;
}

.exercise {
  color: rgb(195, 203, 207);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.logbook h3 {
  font-style: italic;
  color: rgb(195, 203, 207);
}

.log {
  border: 1px solid black;
  border-radius: 40px;
  padding: 1rem;
  text-align: center;
  margin: 0 1rem 1rem;
  width: max-content;
  background-color: #0fd6e6;
  color: black;
}

.set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.set > div {
  color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0 2rem;
  border-radius: 20px;
  font-weight: bold;
  background-color: #0268ae;
}

.set span {
  font-size: 1rem;
}

.button {
  width: max-content;
  margin: 1rem auto -1rem;
  display: block;
  border: 1px solid rgb(195, 203, 207);
  background-color: transparent;
  color: rgb(195, 203, 207);
  padding: 0.5rem;
  border-radius: 15px;
  height: 4rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.button:hover {
    background-color: yellow;
    color: black
}

@media only screen and (max-width: 720px){
.log {
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem;
  border-radius: 20px;
}

.set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}

.set > div {
  padding: 0.5rem;
  margin: 0 0.5rem;
}

}